body {
	background-color: #bbb;
	padding: 0 1rem;
	font-family: sans-serif;
}

nav {
	background-color: #aaa;
	padding: .5rem;
	display: flex;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a.active {
	color: brown;
	font-weight: bold;
}

.danger {
	color: red;
	background-color: #333;
	padding: 1rem;
	border-radius: .3rem;
}

div.books {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

img.book {
	width: 10rem;
	height: fit-content;
}

div.book {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	width: 60rem;
}

div.book p.title {
	font-size: 1.7rem;
	margin: 0;
}

div.book p.description {
	font-style: italic;
}

.spinner {
	margin: 2rem 1rem;
	padding: 2rem;
	border: 1rem solid rgba(0, 0, 0, 0.1);
	border-top: 1rem solid orangered;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}