{{>header}}
{{>menu pageIdCode="books"}}
<div id="vueapp">
    <p>\{{howManyBooksMessage}}</p>
    <div class="books">
        BOOKS
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                howManyBooksMessage: "",
                books: []
            };
        },
        methods: {
            initialize() {
                (async () => {
                const response = await fetch('/api/books');
                this.books = await response.json();
                this.howManyBooksMessage = `There are ${this.books.length} books.`;
                })();
            },
        },
    })
        .mount("#vueapp")
        .initialize();
</script>