{{>header}}
{{>menu pageIdCode="books"}}
<div>
    <p>There are {{{books.length}}} books.
    </p>
    <div class="books">
        {{#books}}
            <a href="book/{{{idCode}}}"><img class="book" src="images/books/{{{idCode}}}.png"/></a>
        {{/books}}
    </div>
</div>