<nav>
	<a class="{{#is-equals pageIdCode "welcome"}}active{{/is-equals}}" href="/">Welcome</a>
	<a class="{{#is-equals pageIdCode "books"}}active{{/is-equals}}" href="/">Books</a>
	<a class="{{#is-equals pageIdCode "about"}}active{{/is-equals}}" href="/">About</a>
</nav>